:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #213547;
  background-color: #ffffff;
}
body {
  margin: 0;
  margin-bottom: 200px;
  text-align: center;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #121ef6;
}

.CBoxs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 30px;
  gap: 20px;
}
.CBox {
  width: 300px;
  padding: 20px;
  color: black;
}
.CBox1 {
  background-color: aquamarine;
}
.CBox2 {
  background-color: rgb(133, 141, 252);
}
.CBox3 {
  background-color: rgb(251, 127, 111);
}
.CBox4 {
  background-color: rgb(202, 251, 111);
}
