/* -------------> all <-------------- */
@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  /* color: #071e2d;
  font-family: "Vazir-FD";
  background: #999; */
}
p {
  line-height: 23px;
}

/* -------------> ??? <-------------- */
