* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  height: 3000px;
}

/* --------------> header <---------------- */
header span {
  display: inline-block;
  position: fixed;
  right: 2%;
  top: 5%;
  font-size: 25px;
  padding: 2px 12px;
  border-radius: 3px;
  color: white;
  background-color: #565656;
  box-shadow: 0 0 3px white;
  cursor: default;
  transition: 0.2s;
  transition-delay: 0.1s;
}
header:hover span {
  opacity: 0;
}
nav {
  position: fixed;
  z-index: 99999;
  top: 0;
  right: -17vw;
  width: 17vw;
  height: 100%;
  font-size: 1.6vw;
  padding: 0.5vh 2vw;
  color: #11111100;
  background-color: rgba(36, 80, 0, 0.782);
  transition: 0.3s;
  transition-delay: 0.15s;
}
header:hover nav {
  right: 0;
}
nav ul {
  display: inline-block;
  text-align: center;
  margin-top: 15vh;
  position: relative;
  right: 1vw;
  text-transform: uppercase;
}
nav li {
  margin-top: 3vh;
}
nav a {
  display: inline-block;
  width: 15vw;
  height: 6vh;
  line-height: 6vh;
  color: white;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 5px;
}

/* --------------> section(banner) <---------------- */
#banner {
  background-image: linear-gradient(
      90deg,
      rgba(1, 90, 158, 0.76) 0%,
      rgba(87, 199, 134, 0.151) 50%,
      rgba(57, 139, 2, 0.794) 100%
    ),
    url("../images/banner2.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}
#log {
  width: 80px;
  border-radius: 5px;
  padding: 1px 11px;
  position: absolute;
  left: 5%;
  top: 5%;
  box-shadow: 0 0 3px white;
}
#bannerTxt {
  position: relative;
  top: 23vh;
  text-align: center;
  color: rgb(255, 255, 255);
}
#bannerTxt h1 {
  font-size: 130px;
  font-family: "Kaushan Script", cursive;
}
#bannerTxt p {
  font-size: 23px;
  font-style: italic;
}
#bannerBtn {
  margin: 40px auto 0;
}
#bannerBtn a {
  display: inline-block;
  position: relative;
  z-index: 8; /* mortabet ba nokte zindex <#bannerBtn a span> */
  width: 130px;
  height: 45px;
  line-height: 45px;
  text-decoration: none;
  color: white;
  font-style: italic;
  border: 1.5px solid white;
  border-radius: 3px;
  margin-left: 10px;
  transition: 0.3s;
  /* 
  display: inline-flex;
  justify-content: center;
  align-items: center;  
  => be jaye estfadh az line-height*/
}
#bannerBtn a:hover {
  color: black;
}
#bannerBtn a span {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: white;
  transition: 0.4s;
}
#bannerBtn a:hover span {
  width: 100%;
}

/* --------------> section(feature) <---------------- */
#feature {
  height: 100vh;
  background-color: rgb(255, 255, 255);
  position: relative;
  text-align: center;
}
#featureHead {
  position: relative;
  top: 10vh;
  font-size: 2vw;
  font-style: italic;
}
#featureHead p {
  text-transform: uppercase;
  margin-bottom: 3px;
  position: relative;
  z-index: 1;
  display: inline-block;
  color: rgb(7, 54, 67);
  font-weight: bold;
}
#featureHead p::after {
  content: "";
  width: 5vw;
  height: 3vw;
  background: linear-gradient(rgb(1, 56, 71), rgb(212, 213, 217));
  position: absolute;
  top: -1.5vw;
  left: 0;
  z-index: -1;
  border-radius: 70px 0;
  transform: rotate(4deg);
}

#featureHead h2 {
  text-transform: capitalize;
  color: rgb(7, 38, 46);
}

#featureBody {
  display: flex;
  align-items: center;
  position: relative;
  top: 25vh;
  margin-right: 20vw;
}
#fBImg img {
  width: 20vw;
  border-radius: 5px;
}
#fBTxt {
  padding: 0 5vw;
  font-size: 1.8vw;
  margin-left: 6vw;
}
#fBTxt h2 {
  text-transform: capitalize;
  color: rgb(9, 72, 89);
}
#fBTxt p {
  margin-top: 3vw;
  line-height: 2.3vw;
  color: #565656;
}

/* --------------> section(service) <---------------- */
#service {
  height: 100vh;
  background-color: rgb(255, 255, 255);
  position: relative;
  text-align: center;
}
#serviceHead {
  position: relative;
  top: 10vh;
  font-size: 2vw;
  font-style: italic;
}
#serviceHead p {
  text-transform: uppercase;
  margin-bottom: 3px;
  position: relative;
  z-index: 1;
  display: inline-block;
  color: rgb(7, 54, 67);
  font-weight: bold;
}
#serviceHead p::after {
  content: "";
  width: 5vw;
  height: 3vw;
  background: linear-gradient(rgb(1, 56, 71), rgb(212, 213, 217));
  position: absolute;
  top: -1.5vw;
  left: 0;
  z-index: -1;
  border-radius: 70px 0;
  transform: rotate(4deg);
}
#serviceHead h2 {
  text-transform: capitalize;
  color: rgb(7, 38, 46);
}
#serviceBody {
  position: relative;
  top: 15vh;
}
#serviceBody img {
  width: 25vw;
  margin: 0.5vw;
  border-radius: 5px;
}
