body {
  height: 1000px;
}
.container1 {
  background-color: coral;
  width: 250px;
  height: 200px;
  padding: 5px;
  margin-bottom: 150px;
}
.container2 {
  background-color: coral;
  width: 250px;
  height: 200px;
  padding: 5px;
  margin-bottom: 100px;
  overflow: hidden;
}
.container3 {
  background-color: coral;
  width: 250px;
  height: 200px;
  padding: 5px;
  margin-bottom: 100px;
  overflow: auto;
}
