body {
  height: 2000px;
}
div {
  width: 100px;
  height: 80px;
  background-color: coral;
  margin: 120px;
  font-size: 30px;
}

#d0:hover {
  width: 170px;
  background-color: blue;
}
/* ********************************** */

#d1 {
  transition: width 2s;
}
#d1:hover {
  width: 170px;
  background-color: blue;
}
/* ********************************** */

#d2 {
  transition: width 1s, height 2s, background-color 9s;
}
#d2:hover {
  width: 170px;
  height: 130px;
  background-color: blue;
}
/* ********************************** */

#d3 {
  transition: all 3s;
}
#d3:hover {
  width: 170px;
  height: 100px;
  background-color: blue;
}
/* ********************************** */

#d4 {
  transition: 3s;
  transition-delay: 1s;
}
#d4:hover {
  width: 170px;
  height: 100px;
  background-color: blue;
}
/* ********************************** */

#d5 {
  transition: 3s;
  transition-timing-function: ease-out;
}
#d5:hover {
  width: 200px;
  background-color: blue;
}
/* ********************************** */

#d6 {
  transition: 2s;
  transition-timing-function: cubic-bezier(0.2, 0.9, 0.3, 1.3);
}
#d6:hover {
  width: 200px;
  background-color: blue;
}
/* ********************************** */

#d7 {
  transition: width 2s cubic-bezier(0.03, 0.9, 0.9, 0.3) 300ms;
}
#d7:hover {
  width: 200px;
}
/* ********************************** */

#d8 {
  transition: 2s;
}
#d8:hover {
  transform: scale(2, 1);
}
/* ********************************** */
